<!doctype html>
{%load static%}
<html lang="en">
    <head>
        <title>Title</title>
        <!-- Required meta tags -->
        <meta charset="utf-8" />
        <meta
            name="viewport"
            content="width=device-width, initial-scale=1, shrink-to-fit=no"
        />

        <!-- Bootstrap CSS v5.2.1 -->
        <link
            href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
            rel="stylesheet"
            integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN"
            crossorigin="anonymous"
        />
        <link rel="stylesheet" href="{% static 'css/style-detalle.css' %}">

    </head>

    <body>
        <header>
  
            <a href="/"><img src="{% static 'img/pokeveneca.png' %}" alt="" style="height: 100px;"></a>
            <h1>POKEVNECA</h1>
            <img src="{% static 'img/pokeveneca.png' %}" alt="" style="height: 100px;">
            
        </header>
        <main>


            <div class="">
                    <div class="carta">
                        <h1>{{pez.name}}</h1>
                        <p><strong>Nombre cientifico: </strong>{{pez.scientific_name}}</p>
                            <div class="contenido">
                                <img class="img-pez-dtl" src="{{ pez.image.url }}" alt="">
                                <div>
                                    <p><strong>Distribucion: </strong>{{pez.distribution}}</p>
                                    <p><strong>Dieta: </strong>{{pez.diet}}</p>
                                    <p><strong>Tamaño promedio(cm): </strong>{{pez.average_size}}</p>
                                    <p><strong>Estado de conservacion: </strong>{{pez.conservation_status}}</p>
                                    <p><strong>Temporada: </strong>{{pez.fishing_season}}</p>
                                    <p><strong>Vedas: </strong>{{pez.fishing_bans}}</p>
                                    <p><strong>Dimorfismo sexual: </strong>{{pez.sexual_dimorphism}}</p>
                                    <p><strong>Temperatura del agua promedio: </strong>{{pez.water_temperature}}</p>
                                </div>
                            </div>
                    </div>
            </div>

                
                
           

        </main>
        <footer>
            <!-- place footer here -->
        </footer>
        <!-- Bootstrap JavaScript Libraries -->
        <script
            src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"
            integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r"
            crossorigin="anonymous"
        ></script>

        <script
            src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js"
            integrity="sha384-BBtl+eGJRgqQAUMxJ7pMwbEyER4l1g+O15P+16Ep7Q9Q+zqX6gSbd85u4mG4QzX+"
            crossorigin="anonymous"
        ></script>
    </body>
</html>
