<!doctype html>
{% load static %}
<html lang="en">
    <head>
        <title>Pokédex</title>
        <!-- Required meta tags -->
        <meta charset="utf-8" />
        <meta
            name="viewport"
            content="width=device-width, initial-scale=1, shrink-to-fit=no"
        />
        <link rel="icon" href="" type="image/x-icon">
        <link
            href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
            rel="stylesheet"
            integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN"
            crossorigin="anonymous"
        />
        <link rel="stylesheet" href="{% static 'css/style-index.css' %}">
    </head>

    <body>

      <header>
        <span>
          <button type="button" data-bs-toggle="collapse" data-bs-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
            <img src="{% static 'img/assets/juego2.png' %}" alt="" style="height: 100px;">
          </button>
          <strong>Pokédex Peces NG</strong>
        </span>
        <div class="collapse" id="collapseExample">
          <div class="usuarios">
            {% for user in usuarios %}
              <div class="carta-usuarios">
                <a href="/user/{{user.id}}">
                  <img class="user-img" src="{{ user.photo.url }}" alt="{{user.name}}">
                </a>
                <h4>{{user.name}}</h4>
              </div>
            {% endfor %}
          </div>
        </div>
      </header>

      <main>
        <div class="ordenar-peces">
            <div class="cantidad-tier">
              <span>Total de peces: {{ total_peces }}</span>
              <div class="cantidades">
                {% for tier, count in contador_tiers.items %}
                  <div class="tier">
                    <div class="tier-{{ tier }}">
                      <span class="text-tier">{{ tier }} </span>
                    </div>
                    <span>: {{ count }}</span>
                  </div> 
                {% endfor %}
              </div>      
            </div>
            
            <form class="form-ordenar" method="GET" action="{% url 'index' %}">
                <select class="form-select" name="orden" onchange="this.form.submit()">
                    <option value="nombre_asc" {% if request.GET.orden == 'nombre_asc' %}selected{% endif %}>Nombre A-Z</option>
                    <option value="nombre_desc" {% if request.GET.orden == 'nombre_desc' %}selected{% endif %}>Nombre Z-A</option>
                    <option value="tier_asc" {% if request.GET.orden == 'tier_asc' %}selected{% endif %}>Tier Ascendente</option>
                    <option value="tier_desc" {% if request.GET.orden == 'tier_desc' %}selected{% endif %}>Tier Descendente</option>
                </select>
            </form>
        </div>
        <div class="contenedor">
          {% for fish_data in peces_nombre %}
              <div class="card-container hover-item">
                  <div class="{{ fish_data.fish.tier }}">
                      <div class="front">
                          <div class="titulo-carta">
                              <span>{{ fish_data.fish.name }}</span>
                              <div class="tier-{{ fish_data.fish.tier }}">
                                <p class="text-tier">{{ fish_data.fish.tier }}</p>
                              </div>
                          </div>
                          <a href="/fish_detail/{{ fish_data.fish.id }}">
                            <div class="holo">
                                <img class="img-pez" src="{% if fish_data.fish.image %}{{ fish_data.fish.image.url }}{% else %}{{ 'path/to/default/image.jpg' }}{% endif %}" alt="{{ fish_data.fish.name }}">
                            </div>
                          </a>
                          <div class="bottom-carta">
                              <p>{{ fish_data.fish.description }}</p>
                          </div>
                      </div>
                  </div>
              </div>
          {% endfor %}
        </div>
      </main>

      <footer>

          
      </footer>

      <script
            src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"
            integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r"
            crossorigin="anonymous"
      ></script>

      <script
            src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js"
            integrity="sha384-BBtl+eGJRgqQAUMxJ7pMwbEyER4l1g+O15P+16Ep7Q9Q+zqX6gSbd85u4mG4QzX+"
            crossorigin="anonymous"
      ></script>
  
    </body>
</html>
