<!doctype html>
{%load static%}
<html lang="en">
    <head>
        <title>Title</title>
        <!-- Required meta tags -->
        <meta charset="utf-8" />
        <meta
            name="viewport"
            content="width=device-width, initial-scale=1, shrink-to-fit=no"
        />

        <!-- Bootstrap CSS v5.2.1 -->
        <link
            href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
            rel="stylesheet"
            integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN"
            crossorigin="anonymous"
        />
        <link rel="stylesheet" href="{% static 'css/style-user.css' %}">

    </head>

    <body>
        <header>
  
            <a href="/"><img src="{% static 'img/pokeveneca.png' %}" alt="" style="height: 100px;"></a>
            <h1>Pokédex de {{ user.name }}</h1>
            <img src="{% static 'img/pokeveneca.png' %}" alt="" style="height: 100px;">
            
          </header>
        <main>

            <div class="head-title sidebar ">
                <img class="head-img" src="{{ user.photo.url }}" alt="Foto de {{ user.name }}" width="150">
                <div>
                    <h3>{{ user.name }}</h3>
                    <p>{{ user.description }}</p>
                </div>
                <div>
                    <p>Total de Peces: {{ total_count }}</p>
                    <p>Peces Capturados: {{ captured_count }}</p>
                </div>
            
            </div>
            <div class="contenedor">
                {% for fish_data in user_fishes %}
                <div class="carta-pez {% if fish_data.captured and fish_data.captured.captured %}capturado{% else %}no-capturado{% endif %}">
                    <strong>{{ fish_data.fish.name }}</strong>
                    <img class="img-pez" src="{{ fish_data.fish.image.url }}" alt="{{ fish_data.fish.name }}">

                    <form method="post" action="/capture/{{ fish_data.fish.id }}/{{ user.id }}/">
                        {% csrf_token %}
                        
                        <label>
                            Capturado:
                            <input type="checkbox" name="captured" value="true" {% if fish_data.captured and fish_data.captured.captured %}checked{% endif %}>
                        </label>

                        <!-- Tamaño (cm) -->
                        <label>
                            Tamaño (cm):
                            <input type="number" step="0.1" name="size" 
                                value="{% if fish_data.captured %}{{ fish_data.captured.size }}{% else %}{{ '' }}{% endif %}">
                        </label>

                        <!-- Peso (kg) -->
                        <label>
                            Peso (kg):
                            <input type="number" step="0.01" name="weight" 
                                value="{% if fish_data.captured %}{{ fish_data.captured.weight }}{% else %}{{ '' }}{% endif %}">
                        </label>

                        <button class="btn-capturado" type="submit">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-repeat" viewBox="0 0 16 16">
                                <path d="M11.534 7h3.932a.25.25 0 0 1 .192.41l-1.966 2.36a.25.25 0 0 1-.384 0l-1.966-2.36a.25.25 0 0 1 .192-.41m-11 2h3.932a.25.25 0 0 0 .192-.41L2.692 6.23a.25.25 0 0 0-.384 0L.342 8.59A.25.25 0 0 0 .534 9"/>
                                <path fill-rule="evenodd" d="M8 3c-1.552 0-2.94.707-3.857 1.818a.5.5 0 1 1-.771-.636A6.002 6.002 0 0 1 13.917 7H12.9A5 5 0 0 0 8 3M3.1 9a5.002 5.002 0 0 0 8.757 2.182.5.5 0 1 1 .771.636A6.002 6.002 0 0 1 2.083 9z"/>
                            </svg>
                        </button>
                    </form>
                </div>
                {% endfor %}


            </div>

            
            
        </main>
        <footer>
            <!-- place footer here -->
        </footer>
        <!-- Bootstrap JavaScript Libraries -->
        <script
            src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"
            integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r"
            crossorigin="anonymous"
        ></script>

        <script
            src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js"
            integrity="sha384-BBtl+eGJRgqQAUMxJ7pMwbEyER4l1g+O15P+16Ep7Q9Q+zqX6gSbd85u4mG4QzX+"
            crossorigin="anonymous"
        ></script>
    </body>
</html>
