*{
    margin: 0;
    outline: 2px dashed black;
}



body{
    background: black;
    overflow-x: hidden; 

}

main{
    position: relative;
    background-size: 150%;
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 0;
    
}

.btn-headers{
position: fixed;
display: flex;
flex-direction: row;
align-items: center;
justify-content: space-between;
width: 100%;
background-color: #5f5f5f;
height: 40px;
padding: 0px 16px;
z-index: 2;
}

.banner{
    max-width: 1280px;
    width: 100%;
    margin-top: 40px;
    z-index: 1;
    height: 320px;
    object-fit: cover;
}

.banner.fixed{
    position: fixed;
    max-height:175px;
    object-fit: cover;
    transition: all 2s; 

}

.background{
    position: fixed;
    top: 0;
    z-index: -1;
    width: 100%;
    height: 100%;
    overflow: hidden; 
    margin: 0 auto; /* Centra el contenedor si hay espacio disponible */
    object-fit: cover;

}

header{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.info-headers{
    position: sticky;
    display: flex;
    flex-direction: column;
    max-width: 1280px;
    width: 100%;
    height: fit-content;
    background-color: #00000050;
    backdrop-filter: blur(10px);
    z-index: 2;
    color: white;
    transition: all 1s ease;
    
}

.info{
    display: flex;
    padding:36px;
    padding-bottom: 18px;
    gap: 16px;

}
.info.fixed{
    background-color: #00000050;
    padding: 8px;
    backdrop-filter: blur(10px);
    border-radius: 3px;
}

.info-headers.fixed{
    margin-top: 40px;
    max-height: 175px;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-left: 32px;
    backdrop-filter: none;
    background-color: #00000000;


}

.info-headers.default{
 
}

header a{
    color: white;
    margin: 0;
}

.user-pic{
    max-width:200px ;
    max-height:200px ;
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 5px;
    border: 2px solid rgba(105, 105, 105, 0.863);
    z-index: 2;
    transition: transform 0.5s ease, top 0.5s ease, max-width 0.5s ease, max-height 0.5s ease;
    transform: translateY(0); /* Posición inicial */
}

.user-pic.fixed{
    max-width:100px ;
    max-height:100px ;
    top: 8px;

}

.user-pic.default{
}

.contenedor{
    position: relative;
    display: flex;
    flex-direction: row;
    width: 100%;
    max-width: 1280px;
    background-color: #00000060;
    backdrop-filter: blur(10px);
    color: white;
    flex-wrap: wrap;
    gap: 36px;
    justify-content: center;
    align-items: start;
    margin-top: 16px;
    padding-top: 36px;
    border-radius: 2px;

}

.contenedor.fixed{
    padding-top: 400px;
}

.name{
    display: flex;
    align-items: center;
    font-size: 36px;
    font-weight: bold;
    max-width: 395px;
    width:395px;
    height: 42px;
}


.name.fixed{
    flex-direction: column;
    justify-content: center;
    align-items: start;   
    height: 100%;
    width: fit-content;
}

.namepez{
    flex-direction:row ;
    display: flex;
    justify-content: start;
    align-items: center;
    height: 28px;
    font-size: 24px;
    max-width: 260px;
    width: 100%;
}

.description{
    display: flex;
    max-width: 395px;
    width: 100%;
    max-height: 158px;
    height: 100%;
    font-size: 14px;

}

.description.fixed{
    display: none;
}

.lista{
    margin: 0;
    font-size: 20px;
    display: flex;
    align-items: center;
    max-width: 276px;
    width: 100%;
    max-height: 40px;
    height: 100%; 
    background: #5f5f5f;
    border-radius: 2px;
    padding: 0px 8px;
}

.capturados{
    margin: 0;
    font-size: 20px;
    display: flex;
    align-items: center;
    max-width: 588px;
    width: 100%;
    max-height: 40px;
    height: 100%;
    background: #5f5f5f;
    border-radius: 2px;
    padding: 0px 8px;
}

.form-ordenar{
    font-size: 20px;
    display: flex;
    align-items: center;
    max-width: 276px;
    width: 100%;
    max-height: 40px;
    height: 100%; 
    background: #5f5f5f;
    border-radius: 2px;
    padding: 0px 8px;
}

.form-select{
    color: azure;
    width: 100%;
    height: 100%;
    padding: 0;
    background-color: rgba(0, 0, 0, 0);

}

section{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
    max-width: 853px;
    width: 100%;
    padding-top: 8px;

   
}

.newpost{
    display: flex;
    flex-direction: row;
    max-width: 821px;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}

.btn-orden{
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    max-width: 590px;
    width: 100%;
    height: 42px;
    font-size: 24px;
    border-radius: 5px;
    margin-right: 8px;
    background: #5f5f5f;
    border: 0;

}

.btn-create{
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    max-width: 221px;
    width: 100%;
    height: 42px;
    font-size: 24px;
    border-radius: 5px;
    gap: 16px;
    background: black;
    border: 0;
}

.post{
    max-width: 821px;
    max-height: 618px;
    width: 100%;
    height: 100%;
    background: #5f5f5f;
}

.contenedor-pez{
    width: fit-content;
    height: fit-content;
    position: relative;
}

.carta-pez{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 260px;
    width: 276px;
    background-image: linear-gradient(125deg,rgba(255, 255, 255, 0.274), rgba(255, 255, 255, 0.226),rgba(255, 255, 255, 0.438)), /* Más énfasis en el gris */
                  url("../img/grano/grain.webp"); 
    border-radius: 8px;
    z-index: 0;
    padding: 8px;
}

.img-pez{
width: 260px;
height: 208px;
object-fit: cover;
border-radius: 5px;
}

.circle-si{
    right: -10px;
    top: -10px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    width: 36px;
    height: 36px;
    z-index: 1;
    background-color: green;
    border-radius: 50%;
}

.circle-no{
    right: -10px;
    top: -10px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    width: 36px;
    height: 36px;
    z-index: 1;
    background-color: red;
    border-radius: 50%;
}
.totales{
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    padding: 0px 36px;
    height: 58px;
    gap: 0px 36px;
    padding-bottom: 18px;
    transition: all 1s ease;
}

.totales.fixed{
    position: absolute;
    bottom: -60px;
    left: 0;
    height: 60px;
    padding: 8px 36px;
    background: #00000050;
    width: 100%;
    backdrop-filter: blur(10px);


}

.ordenar-peces{
    width: 200px;

}