*{

    margin: 0;
    padding: 0;
    utline: 2px dashed black;
}




header{
    color: white;
    display: flex;
    flex-direction: column;
    justify-content:start;
    align-items: center;
    background: #5f5f5f;
    padding:16px;
    gap: 4px;
}

.pic{
    height: 290px;
    width: 468px; object-fit: cover;
    border-radius: 10px;
    background-color: black;
    border: 3px solid black;
}

.user-pic{
    height: 150px;
    width:150px;
    border-radius: 10px;
    background-color: black;
    border: 3px solid black;
}

main {
    position: relative;
    background: url(../img/7-noise-texture-overlays-3.png), rgb(182, 182, 182);
    background-blend-mode: overlay;
    background-size: 150%;
    padding: 16px;
    display: flex;
    flex-direction: column;
    justify-content: center;

  }
 
.contenedor{
    padding: 16px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    gap: 32px;
    
}

  main::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: inherit;  /* Hereda el fondo del body */
      filter: blur(8px);  /* Aplica el desenfoque */
      z-index: -1;  /* Asegura que el pseudo-elemento esté detrás del contenido */
  }
  
  .boton-regresar{
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    height: fit-content;
    

}

.boton-regresar a{
    color: white;
    margin: 0;
}

.carta{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    background-color: #5f5f5f;
    width: fit-content;
    height: fit-content;
    padding: 16px;
    border-radius: 20px;
    border: 3px solid black;
    color: white;

}

.SS {
    padding: 16px;
    position: relative;
    transform-style: preserve-3d; /* Permite que las caras de la carta se mantengan en 3D */
    transition: transform 0.6s; /* Transición suave para el efecto de volteo */
    background-image: url("../img/grano/vmaxbg.jpg"), 
        url(../img/grano/glitter.png), 
        linear-gradient(120deg,#ff0084a0 10%,  /* Rosa vibrante */
        #fca40080 20%,  /* Naranja dorado */
        #ffff0040 30%,  /* Amarillo translúcido */
        #00ff8a50 40%,  /* Verde brillante */
        #00cfff60 50%,  /* Azul cian */
        #8a2be240 60%,  /* Púrpura profundo */
        #cc4cfa70 70%,  /* Morado pastel */
        #ff0084a0 80%,  /* Volvemos al rosa vibrante */
        #fca40080 90%   /* Terminamos con el dorado */);
    background-blend-mode: overlay;
    display: flex;
    background-size: ;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
    width: fit-content;
    
    
    
  }
  
.S {
    
    position: relative;
    transform-style: preserve-3d; /* Permite que las caras de la carta se mantengan en 3D */
    transition: transform 0.6s; /* Transición suave para el efecto de volteo */
    background-image: url("../img/grano/angular.png"), 
        url(../img/grano/glitter.png), 
        linear-gradient(120deg,#fbf7fdec,       /* Blanco brillante */
        #f8f8f8 10%,   /* Gris perla */
        #ffe4f0 20%,   /* Rosa muy claro */
        #e8d8ff 30%,   /* Morado perla */
        #f0f0f5 40%,   /* Gris perlado claro */
        #fff8f8e0 50%,   /* Blanco brillante */
        #f8f8f8 60%,   /* Gris perla */
        #ffe4f0 70%,   /* Rosa muy claro */
        #e8d8ff 80%,   /* Morado perla */
        #f0f0f5 90%,   /* Gris perlado claro */
        #ffffff 100%   /* Blanco brillante */);
    background-blend-mode: overlay;
    display: flex;
    background-size: 160%;
    justify-content: center;
    align-items: center;
    
  
  
    border-radius: 15px;
    
    
    
  }
  
.A {
    
    position: relative;
    transform-style: preserve-3d; /* Permite que las caras de la carta se mantengan en 3D */
    transition: transform 0.6s; /* Transición suave para el efecto de volteo */
    background-image:
        url(../img/grano/glitter.png), 
        linear-gradient(120deg,
        #ffea00,       /* Amarillo chillón */
        #ffd700 10%,   /* Dorado brillante */
        #ffc107 20%,   /* Amarillo dorado */
        #ffbf00 30%,   /* Naranja dorado */
        #ffe135 40%,   /* Amarillo claro */
        #ffea00 50%,   /* Amarillo chillón */
        #ffd700 60%,   /* Dorado brillante */
        #ffc107 70%,   /* Amarillo dorado */
        #ffbf00 80%,   /* Naranja dorado */
        #ffe135 90%,   /* Amarillo claro */
        #ffea00 100%   /* Amarillo chillón */);
    background-blend-mode: overlay;
    display: flex;
    background-size: 160%;
    justify-content: center;
    align-items: center;
    
  
  
    border-radius: 15px;
    
    
    
  }
  
.B {
    padding: 16px;
    position: relative;
    transform-style: preserve-3d; /* Permite que las caras de la carta se mantengan en 3D */
    transition: transform 0.6s; /* Transición suave para el efecto de volteo */
    background-image: url("../img/grano/wave.png"), 
        url(../img/grano/glitter.png), 
        linear-gradient(120deg,  #d9d9d9,       /* Gris claro */
        #c0c0c0 20%,   /* Plata */
        #a6a6a6 40%,   /* Gris medio */
        #e0e0e0 60%,   /* Gris perlado claro */
        #b0b0b0 80%,   /* Plata opaca */
        #d9d9d9 100%   /* Gris claro */);
    background-blend-mode: overlay;
    display: flex;
    background-size: 160%;
    justify-content: center;
    align-items: center;
    
  
  
    border-radius: 15px;
    
    
    
  }
  
.C {
    
    position: relative;
    transform-style: preserve-3d; /* Permite que las caras de la carta se mantengan en 3D */
    transition: transform 0.6s; /* Transición suave para el efecto de volteo */
    background-image:
        url(../img/grano/grain.webp), 
        linear-gradient(120deg,#8c6239,       /* Marrón bronce opaco */
        #a57c52 20%,   /* Bronce claro apagado */
        #6e4f33 40%,   /* Marrón oscuro */
        #b08d57 60%,   /* Bronce mate */
        #7c5635 80%,   /* Marrón bronce profundo */
        #8c6239 100%   /* Marrón bronce opaco */);
    background-blend-mode: overlay;
    display: flex;
    background-size: 160%;
    justify-content: center;
    align-items: center;
    
  
  
    border-radius: 15px;
    
    
    
  }
  
.D {
    
    position: relative;
    transform-style: preserve-3d; /* Permite que las caras de la carta se mantengan en 3D */
    transition: transform 0.6s; /* Transición suave para el efecto de volteo */
    background: var(--metal);
    background-blend-mode: overlay;
    display: flex;
    background-size: 160%;
    justify-content: center;
    align-items: center;
    
  
  
    border-radius: 15px;
    
    
    
  }

p{
    margin: 0;
  }

.carta-bottom{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 4px;
    padding-top: 8px;
  }

.carta-bottom p { 
    width: 50%;
    font-size: 18px;
    height: 36px;
}

.titulo-foto{
    width: 100%;
    display: flex;
    justify-content: start;
    flex-direction: column;
}

.titulo-foto div{
    width: 100%;
    display: flex;
    justify-content: start;
    flex-direction: row;
    align-items: end;
    gap: 16px;
}

a{
    margin: 0;
    padding: 0;
}

h1{
    margin: 0;
}

svg{
    margin: 0;
    padding: 0;
}

path{
    margin: 0;
    padding: 0;   
}