/* DEFAULT */

*{
    margin: 0px;
    padding: 0px;
  
}

:root{

--metal: linear-gradient(
  45deg,
  #999 5%,
  #fff 10%,
  #ccc 30%,
  #ddd 50%,
  #ccc 70%,
  #fff 80%,
  #999 95%
);

}

main {
  position: relative;
  background: url(../img/7-noise-texture-overlays-3.png), rgb(182, 182, 182);
  background-blend-mode: overlay;
  background-size: 150%;
   
}

main::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: inherit;  /* Hereda el fondo del body */
    filter: blur(8px);  /* Aplica el desenfoque */
    z-index: -1;  /* Asegura que el pseudo-elemento esté detrás del contenido */
}

header{
    color: white;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: space-between;
    background: #5f5f5f;
    padding: 16px;
}

header p{
  font-size: 48px;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: start;
  margin: 0;
  
}

header p button{
  background: none;
  border: none;
}

footer{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  bottom: 0;
  width: 100%;
  padding-top: 16px;
  padding-left: 16px;
  padding-right: 16px;
  z-index:0;
}

/* DEFAULT */

/* USUARIOS */

.usuarios{
  display: flex;
  flex-direction: row;
  gap: 2rem;
  justify-content: center;
  align-items: center;
  padding: 1rem ;
  flex-wrap: wrap ;

}

.carta-usuarios{
  width: 7rem;
  height: 9rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  padding-top: 0.5rem;
}

.user-img{
  height: 6rem;
  width: 6rem;
  border-radius: 50%;
  border: 3px solid black;
  background: white;
  object-fit: cover;
  
}


/* USUARIOS */

/* PECES */


.bottom-carta{
  width: 290px;
  height: fit-content;
  font-size: 14px;
 
}

.contenedor{
  padding:1rem ;
  display: flex;
  flex-wrap: wrap; /* Asegura que los elementos bajen si no hay espacio */
  justify-content: center; /* Centra las tarjetas en su contenedor */
  gap: 12px; 
  height: 100%;
}

.card-container {
  perspective: 60rem; /* Esto crea una perspectiva de 3D */
  width: fit-content;
  height: fit-content;
  display: flex;
  justify-content: center;
  align-items: center;
  /* Esto asegura que cada contenedor pueda girar individualmente */
}

.carta-main{
  width: fit-content;
  height: fit-content;
  position: relative;
  transform-style: preserve-3d; /* Permite que las caras de la carta se mantengan en 3D */
  transition: transform 0.6s; /* Transición suave para el efecto de volteo */
  background-image: url("../img/grano/wave.png"), 
      url(../img/grano/glitter.png), 
      linear-gradient(120deg,#ff0084a0 10%,  /* Rosa vibrante */
      #fca40080 20%,  /* Naranja dorado */
      #ffff0040 30%,  /* Amarillo translúcido */
      #00ff8a50 40%,  /* Verde brillante */
      #00cfff60 50%,  /* Azul cian */
      #8a2be240 60%,  /* Púrpura profundo */
      #cc4cfa70 70%,  /* Morado pastel */
      #ff0084a0 80%,  /* Volvemos al rosa vibrante */
      #fca40080 90%   /* Terminamos con el dorado */);
  background-blend-mode: overlay;
  display: flex;
  background-size: 160%;
  justify-content: center;
  align-items: center;
  border-radius: 15px;
  padding: 16px;

}

.SS {
  width: 354px;
  height: 416px;
  position: relative;
  transform-style: preserve-3d; /* Permite que las caras de la carta se mantengan en 3D */
  transition: transform 0.6s; /* Transición suave para el efecto de volteo */
  background-image: url("../img/grano/vmaxbg.jpg"), 
      url(../img/grano/glitter.png), 
      linear-gradient(120deg,#ff0084a0 10%,  /* Rosa vibrante */
      #fca40080 20%,  /* Naranja dorado */
      #ffff0040 30%,  /* Amarillo translúcido */
      #00ff8a50 40%,  /* Verde brillante */
      #00cfff60 50%,  /* Azul cian */
      #8a2be240 60%,  /* Púrpura profundo */
      #cc4cfa70 70%,  /* Morado pastel */
      #ff0084a0 80%,  /* Volvemos al rosa vibrante */
      #fca40080 90%   /* Terminamos con el dorado */);
  background-blend-mode: overlay;
  display: flex;
  background-size: 160%;
  justify-content: center;
  align-items: center;
  border-radius: 15px;
}

.S {
  width: 354px;
  height: 416px;
  position: relative;
  transform-style: preserve-3d; /* Permite que las caras de la carta se mantengan en 3D */
  transition: transform 0.6s; /* Transición suave para el efecto de volteo */
  background-image: url("../img/grano/angular.png"), 
      url(../img/grano/glitter.png), 
      linear-gradient(120deg,#fbf7fdec,       /* Blanco brillante */
      #f8f8f8 10%,   /* Gris perla */
      #ffe4f0 20%,   /* Rosa muy claro */
      #e8d8ff 30%,   /* Morado perla */
      #f0f0f5 40%,   /* Gris perlado claro */
      #fff8f8e0 50%,   /* Blanco brillante */
      #f8f8f8 60%,   /* Gris perla */
      #ffe4f0 70%,   /* Rosa muy claro */
      #e8d8ff 80%,   /* Morado perla */
      #f0f0f5 90%,   /* Gris perlado claro */
      #ffffff 100%   /* Blanco brillante */);
  background-blend-mode: overlay;
  display: flex;
  background-size: 160%;
  justify-content: center;
  align-items: center;
  


  border-radius: 15px;
  
  
  
}

.A {
  width: 354px;
  height: 416px;
  position: relative;
  transform-style: preserve-3d; /* Permite que las caras de la carta se mantengan en 3D */
  transition: transform 0.6s; /* Transición suave para el efecto de volteo */
  background-image: url(../img/grano/ancient.png),
      url(../img/grano/glitter.png), 
      linear-gradient(120deg,
      #ffea00,       /* Amarillo chillón */
      #ffd700 10%,   /* Dorado brillante */
      #ffc107 20%,   /* Amarillo dorado */
      #ffbf00 30%,   /* Naranja dorado */
      #ffe135 40%,   /* Amarillo claro */
      #ffea00 50%,   /* Amarillo chillón */
      #ffd700 60%,   /* Dorado brillante */
      #ffc107 70%,   /* Amarillo dorado */
      #ffbf00 80%,   /* Naranja dorado */
      #ffe135 90%,   /* Amarillo claro */
      #ffea00 100%   /* Amarillo chillón */);
  background-blend-mode: overlay;
  display: flex;
  background-size: 120%;
  justify-content: center;
  align-items: center;
  


  border-radius: 15px;
  
  
  
}

.B {
  width: 354px;
  height: 416px;
  position: relative;
  transform-style: preserve-3d; /* Permite que las caras de la carta se mantengan en 3D */
  transition: transform 0.6s; /* Transición suave para el efecto de volteo */
  background-image: url("../img/grano/wave.png"), 
      url(../img/grano/glitter.png), 
      linear-gradient(120deg,  #d9d9d9,       /* Gris claro */
      #c0c0c0 20%,   /* Plata */
      #a6a6a6 40%,   /* Gris medio */
      #e0e0e0 60%,   /* Gris perlado claro */
      #b0b0b0 80%,   /* Plata opaca */
      #d9d9d9 100%   /* Gris claro */);
  background-blend-mode: overlay;
  display: flex;
  background-size: 160%;
  justify-content: center;
  align-items: center;
  


  border-radius: 15px;
  
  
  
}

.C {
  width: 354px;
  height: 416px;
  position: relative;
  transform-style: preserve-3d; /* Permite que las caras de la carta se mantengan en 3D */
  transition: transform 0.6s; /* Transición suave para el efecto de volteo */
  background-image:url(../img/grano/stylish.png),
      url(../img/grano/grain.webp), 
      linear-gradient(120deg,#8c6239,       /* Marrón bronce opaco */
      #a57c52 20%,   /* Bronce claro apagado */
      #6e4f33 40%,   /* Marrón oscuro */
      #b08d57 60%,   /* Bronce mate */
      #7c5635 80%,   /* Marrón bronce profundo */
      #8c6239 100%   /* Marrón bronce opaco */);
  background-blend-mode: overlay;
  display: flex;
  background-size: 160%;
  justify-content: center;
  align-items: center;
  


  border-radius: 15px;
  
  
  
}

.D { 
  width: 354px;
  height: 416px;
  position: relative;
  transform-style: preserve-3d; /* Permite que las caras de la carta se mantengan en 3D */
  transition: transform 0.6s; /* Transición suave para el efecto de volteo */
  background-image:url(../img/grano/metal.png),
      url(../img/grano/grain.webp), 
      var(--metal);
  background-blend-mode: overlay;
  display: flex;
  background-size: 160%;
  justify-content: center;
  align-items: center;
  


  border-radius: 15px;
  
  
  
}


.img-pez{
  object-fit: cover;
  height: 180px;
  width: 290px;
  object-position: center;
}

.hover-item {
  transition: 0.3s;
}

.hover-item:hover {
  transform: translate(0, -10px);
}

.carta-main .front{
  color: white;
  background-color: #666666; /* Color sólido gris */
  background-image: linear-gradient(125deg,rgba(255, 255, 255, 0.274), rgba(255, 255, 255, 0.226),rgba(255, 255, 255, 0.438)), /* Más énfasis en el gris */
                  url("../img/grano/grain.webp");            
  background-blend-mode: hard-light;
  background-size: 160%;
  position: absolute;
  width: 94%;
  height: 94%;
  backface-visibility: hidden; /* Oculta el reverso cuando está volteado */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  border-radius: 12px;
  padding: 16px;
  gap: 16px;
}

.carta-main .back {
  color: white;
  position: absolute;
  width: 95%;
  height: 95%;
  backface-visibility: hidden; /* Oculta el reverso cuando está volteado */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  border-radius: 15px;
  padding: 1rem;
  transform: rotateY(180deg); /* El reverso empieza girado */

}

.users-poke{

  width: 100%;
  display: flex;
  flex-direction: row;
  gap: 8px;
  flex-wrap: wrap;
  
  }
  
.users-poke-img{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border:3px solid yellow ;
  }


.users-poke-info{
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: end;
}

.titulo-carta{
  width: 100%;
  font-size: 20px;
  display: flex;
  font-weight: bold;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

}



.card-container:hover .carta-main {
  transform: rotateY(180deg); /* Gira la carta cuando se pasa el mouse o se hace clic */
}

.holo {

position: relative;
overflow: hidden;
overflow: hidden;
z-index: 10;
touch-action: none;
transition: transform 0.5s ease, box-shadow 0.2s ease;
background-color: #040712;
background-size: cover;
height: 180px;
width: 290px;
border-radius: 5px;


}

.holo:before,
.holo:after {
content: "";
position: absolute;
left: 0;
right: 0;
bottom: 0;
top: 0;
background-repeat: no-repeat;
opacity: .5;
mix-blend-mode: color-dodge;
transition: all .33s ease;
}

.holo:before {
background-position: 50% 50%;
background-size: 300% 300%;
background-image: linear-gradient(
  115deg,
  transparent 0%,
  var(--color1) 25%,
  transparent 47%,
  transparent 53%,
  var(--color2) 75%,
  transparent 100%
);
opacity: .5;
filter: brightness(.5) contrast(1);
z-index: 1;
}

.holo:after {
opacity: 1;
background-image: url("https://assets.codepen.io/13471/sparkles.gif"), 
  url(https://assets.codepen.io/13471/holo.png), 
  linear-gradient(125deg, #ff008450 15%, #fca40040 30%, #ffff0030 40%, #00ff8a20 60%, #00cfff40 70%, #cc4cfa50 85%);
background-position: 50% 50%;
background-size: 160%;
background-blend-mode: overlay;
z-index: 2;
filter: brightness(2) contrast(6);
transition: all .33s ease;
mix-blend-mode: color-dodge;
opacity: .75;
}




/* PECES */


/* EFECTOS */

.text-tier{
  position: absolute;
  top: 50%;         /* Lleva al hijo al 50% de la altura del padre */
  left: 50%;        /* Lleva al hijo al 50% del ancho del padre */
  transform: translate(-50%, -50%);
  font-size: 18px;
  font-weight: bold;
  display:flex;
  justify-content: center;
  align-items: center;
  color: #000;
  
  
 
}

.tier-SS {
  position: relative;
  background: rgb(198, 252, 3);
  padding: 4px;
  border-radius: 50%;
  border: 2px solid black;
  height: 32px;
  width: 32px;
  display:flex;
  justify-content: center;
  align-items: center;
}

.tier-S {
  position: relative;
  background: rgb(255, 61, 61);
  padding: 4px;
  border-radius: 50%;
  border: 2px solid black;
  height: 32px;
  width: 32px;
  display:flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.tier-A {
  position: relative;
  background: rgb(255, 45, 244);
  padding: 4px;
  border-radius: 50%;
  border: 2px solid black;
  height: 32px;
  width: 32px;  
  display:flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.tier-B {
  position: relative;
  background: rgb(143, 17, 143);
  padding: 4px;
  border-radius: 50%;
  border: 2px solid black;
  height: 32px;
  width: 32px;
  display:flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.tier-C {
  position: relative;
  background: rgb(0, 119, 255);
  padding: 4px;
  border-radius: 50%;
  border: 2px solid black;
  height: 32px;
  width: 32px; 
  display:flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.tier-D {
  position: relative;
  background: rgb(39, 183, 240);
  padding: 4px;
  border-radius: 50%;
  border: 2px solid black;
  height: 32px;
  width: 32px;
  display:flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
/* botones etc */

a{
  display: flex;
  color: #000;
  justify-content: center;
  align-items: center;
  }

.p{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;

  }

.white{
  color: white;
}

.ordenar-peces{
width: 100%;
padding: 16px;
display: flex;
flex-direction: row;
align-items: center;
justify-content: space-between;
}

.form-ordenar{
  width: 200px;

}


.cantidad-tier{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 16px;
  background: white;
  padding: 4px 16px;
  border-radius: 6px;
}

.cantidad-tier p{

  font-weight: bold;

}

p{
  margin: 0;
}

.cantidades{
  display: flex;
  flex-direction: row;
  justify-content: start;
  gap: 16px;
}

.tier{
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  gap: 4px;
}

.tier span{
  font-weight: bold;
}


.div-multi-line {
  width: 290px;
  height: 110px;
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 5; /* Limita a 2 líneas */
  text-overflow: clip;
}