*{
    margin: 0px;
    padding: 0px;
    utline: 2px dashed black;
}

body{
    background: #000000;
    background-image: url(../img/fondo.jpg);
    background-size: cover;
}


header{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    background: rgba(255,255,255,0.2);
    border: 2px solid black;
}

footer{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background: #47c1c1;
    align-items: center;
    position: absolute;
    bottom: 0;
    width: 100%;

}

.contenedor{
    padding:1rem ;
    display: flex;
    flex-wrap: wrap; /* Asegura que los elementos bajen si no hay espacio */
    justify-content: center; /* Centra las tarjetas en su contenedor */
    gap: 12px; 
    height: 100%;
}

/* CARTA DE Usuarios */

.usuarios{
    display: flex;
    flex-direction: row;
    gap: 2rem;
    justify-content: center;
    align-items: center;
    padding: 1rem ;

}


.carta-usuarios{
    width: 7rem;
    height: 9rem;
    background: rgba(77, 218, 195, 0.801);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    border: 3px solid rgba(77, 218, 195, 0.911);
}

.user-img{
    object-fit: cover;
    width: 6rem;
    height: 6rem;
    border-radius: 50%;
    border: 3px solid black;
}



/* CARTA DE PEZ */

.card-container {
    perspective: 60rem; /* Esto crea una perspectiva de 3D */
    width: 21rem;
    height: 21rem;
    display: flex;
    justify-content: center;
    align-items: center;
    /* Esto asegura que cada contenedor pueda girar individualmente */
  }

.carta-main {
    width: 16rem;
    height: 20rem;
    position: relative;
    transform-style: preserve-3d; /* Permite que las caras de la carta se mantengan en 3D */
    transition: transform 0.6s; /* Transición suave para el efecto de volteo */
  }
.img-pez{
    object-fit: cover;
    width: 14rem;
    height: 14rem;
    border: 3px solid black;
    object-position: center;
    border-radius: 10px;
}

.hover-item {
    transition: 0.3s;
  }
.hover-item:hover {
    transform: translate(0, -10px);
  }

.carta-main .front {
    background-color: lightblue;
    background: rgba(255, 255, 255);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  
  
.carta-main .back {
    background-color: lightblue;
    background: rgba(255, 255, 255);
    transform: rotateY(180deg); /* El reverso empieza girado */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: start;
  }

.carta-main .front{
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden; /* Oculta la parte de atrás cuando está volteada */
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid #000;
    border-radius: 10px;
    padding: 1rem;
}
.carta-main .back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden; /* Oculta la parte de atrás cuando está volteada */
    display: flex;
    justify-content: space-around;
    align-items: start;
    border: 1px solid #000;
    border-radius: 10px;
    padding: 1rem;
}


.card-container:hover .carta-main {
    transform: rotateY(180deg); /* Gira la carta cuando se pasa el mouse o se hace clic */
  }









