*{
    margin: 0px;
    padding: 0px;
    utline: 2px dashed black;
}

body {
    position: relative;
    min-height: 100vh;
    overflow-x: hidden;
}

header{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    background: #f28b6a;
    border: 2px solid black;
    padding: 8px 0px;
    height: 120px;
}


/* Estilo para los checkboxes */
.capture-status {
    display: inline-block;
    padding: 10px 20px;
    font-size: 14px;
    color: white;
    font-weight: bold;
    border-radius: 5px;
    text-align: center;
}

/* Opcional: Mejorar la apariencia de las listas */
ul {
    list-style-type: none;
    padding: 0;
}

li {
    margin-bottom: 1rem;
}

label {
    font-size: 14px;
    display: inline-block;
    margin-left: 10px;
}



.picture{
    object-fit:scale-down;
    width: 100%; /* Hace que la imagen se expanda al máximo del contenedor */
    height: 100%; /* Asegura que la imagen se ajuste completamente al contenedor */
    max-width: 300px; /* No permite que la imagen se expanda más allá del contenedor */
    max-height: 300px;
    object-fit: cover; /* Hace que la imagen cubra el contenedor sin distorsionar */
    border-radius: 5px;
    background: white;
}


.imagen-container {
    width: 300px;   /* Contenedor flexible */
    height: 300px; /* Puedes ajustar la altura según lo que necesites */
    overflow: hidden; /* Para asegurarse de que la imagen no se desborde */
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 8px;
}


.col{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 16px;
    gap: 16px;
}


.carta{

    background: #f28b6a;
    padding: 8px;
    border-radius: 5px;
    gap: 8px;
    

}

.carta-pez{
    border-radius: 10px;
    width: 200px;
    background: #f28b6a;
    padding: 8px;
    border-radius: 5px;
    

}

.img-pez{

    object-fit: cover;
    width: 180px;
    height: 180px;
    border-radius: 5px;
    border: 2px solid black;
    

}

.centrar{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

}